<!DOCTYPE doctype html>
<html lang="es">
    <head>
        <base href="https://serviciosenlinea.hospitalmetropolitano.org/asis/"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <title>
            Entrar | {{config.build.name}} {{config.build.version}}
        </title>
        <!-- Favicons-->
        <link href="assets/css/touch/images/apple-touch-icon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
        <link href="assets/css/touch/images/apple-touch-icon-72x72.png" rel="shortcut icon" sizes="72x72" type="image/x-icon"/>
        <!-- web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:400,500" rel="stylesheet"/>
        <!-- plugins css -->
        <link href="assets/css/plugins.css" rel="stylesheet"/>
        <!-- style css -->
        <link href="assets/style.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="loader-content">
                    <span class="icon-section-wave d-inline-block text-active mt-3 ">
                    </span>
                </div>
            </div>
        </div>
        <!-- Start Bnner Section -->
        <section class="m-pt-40 m-pb-90 m-bg-1">
            <div class="container">
                <div class="row m-pt-50">
                    <div class="col-md-3">
                        <a href="{{config.build.url}}mi-doctor">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icon-heart-beat text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Mi Doctor
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}atencion-y-cuidados">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-patient-bed text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Atención y Cuidados
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}seguros">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-bank-alt text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Seguros
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}aliminetacion">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-restaurant text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Alimentación
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}entretenimiento">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icon-eye text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Entretenimiento
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}servicio-al-paciente">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-simple-smile text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Servicio al Paciente
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}novedades-hm">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-learn text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Novedades HM
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{config.build.url}}otros-servicios">
                            <div class="single-service type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                                <div class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                                    <span class="icofont-icu text-grad-1 fz-50">
                                    </span>
                                </div>
                                <h5 class="text-dark2 mb-3 position-relative pt-2">
                                    Otros Servcios
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start scroll-top  Section -->
        <div class="button-menu-center">
            <a class="btn fadeInDown-slide position-relative animated pl-4 pr-4 lsp-0 no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-0 text-medium radius-pill text-active text-white s-dp-1-2" href="{{config.build.url}}">
                <i class="icofont-home">
                </i>
                Inicio
            </a>
        </div>
        <!-- End Bnner Section -->
        <!-- Start logo-hm-top-left -->
        <div class="logo-hm-top-left">
            <img alt="" class="svg" src="assets/images/logo-hm.svg"/>
        </div>
        <!-- End Bnner Section -->
        <!-- Start time-top-right -->
        <div class="time-top-right">
            <h4 class="watch">
            </h4>
        </div>
        <!-- End Bnner Section -->
        <!-- Start time-top-right -->
        <div class="date-top-right">
            <h5 class="date text-capitalize">
            </h5>
        </div>
        <!-- End Bnner Section -->
        <!-- js file -->
        <script src="assets/js/jquery-2.2.4.min.js">
        </script>
        <!-- plugins js -->
        <script src="assets/js/plugins.js">
        </script>
        <!-- Momentjs -->
        <script src="assets/js/plugins/moment/moment.js">
        </script>
        <script src="assets/js/plugins/moment/es.js">
        </script>
        <!-- main js -->
        <script src="assets/js/main.js">
        </script>
        <!-- time js -->
        <script src="assets/js/time.js">
        </script>
    </body>
</html>