<!DOCTYPE html>
<html lang="es">
    <head>
        <base href="{{config.build.url}}"/>
        <meta charset="utf-8"/>
        <meta content="noindex" name="robots"/>
        <meta content="max-age=0" http-equiv="cache-control"/>
        <meta content="no-cache" http-equiv="cache-control"/>
        <meta content="0" http-equiv="expires"/>
        <meta content="Tue, 01 Jan 1980 1:00:00 GMT" http-equiv="expires"/>
        <meta content="no-cache" http-equiv="pragma"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <title>
            Error | {{config.build.name}} {{config.build.version_html}}
        </title>
        <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport"/>
        <meta content="#ffffff" name="theme-color"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" rel="stylesheet"/>
        <link href="assets/css/vendor.min.css" rel="stylesheet"/>
        <link href="assets/css/elephant.min.css" rel="stylesheet"/>
        <link href="assets/css/errors.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="error">
            <div class="error-body">
                <h1 class="error-heading">
                    P치gina no encontrada
                </h1>
                <h4 class="error-subheading">
                    Lo sentimos, la p치gina que solicit칩 no se puede encontrar.
                </h4>
                <p>
                    <a class="btn btn-primary btn-pill btn-thick" href="{{config.build.url}}">
                        Regresar a la p치gina principal
                    </a>
                </p>
            </div>
            <div class="error-footer">
                <p>
                    <small>
                        {{config.build.copyright}} {{ "now"|date("Y") }}
                    </small>
                </p>
            </div>
        </div>
        <script src="assets/js/vendor.min.js">
        </script>
        <script src="assets/js/elephant.min.js">
        </script>
    </body>
</html>